<a href="<%= pob.escape('url') %>"><img src="<%= pob.escape('img_url')  %>" width="100%"        height="400px">
<h3><%= pob.escape('description') %><h3>
<a href="<%= '#users/' + pob.escape('owner_id') + '/boards/' + pob.escape('board_id') %>"><h4><%= pob.escape('board_name') %></h4></a>