<h1><%= current_user.first_name %>'s Boards</h1>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newBoardModal">
  Create Board
</button>
<!-- Modal -->
<%= render :partial => 'boards/addBoardModal' %>
  </div>
</div>








<div class='row'>
  <div class='col-xs-12'>

    <% @boards.each do |board| %>
    <% if board.pins && !board.pins.empty? %>
    <% pin = board.pins.sample(1).first  %>
    <% else %>
    <% pin = Pin.new %>
    <% end %>
        <div id="main" role="main">
    <ul id='tiles'>
      <% height = 200%>
      <li><a href="<%= pin.url %>"><img src="<%= pin.img_url %>" alt="Add a Pin" width="100%" height="<%= height %>"></a><a href='<%= user_board_url(current_user,board) %>'><%= board.name %></a></li>


    </ul>
  <% end %>

  </div>
  </div>





  <script>
  $(function() {
    // Call the layout function.
    $('#tiles li').wookmark({
      // Prepare layout options.
      align: 'center',
      // Prepare layout options.
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main'), // Optional, used for some extra CSS styling
      offset: 5, // Optional, the distance between grid items
      outerOffset: 10, // Optional, the distance to the containers border
      itemWidth: 310 // Optional, the width of a grid item
    });
  });
  </script>






















<script>
$(function(){
// $.embedly.extract('http://techcrunch.com/2014/03/20/hp-planning-to-enter-the-3d-printer-space-in-june/', {key: 'fee1c62bff7c4eebb29955bad02ce071'}).progress(function(data){
//   debugger
//   //need to extract images, then user select image, then save that as pin image
//   alert(data.title);
// });
});
</script>



<!-- <a href="http://techcrunch.com/2014/03/20/orange-gives-all-of-its-data-to-frances-nsa/" class="embed">Stuff</a>

<script>
$(function(){
   $("a.embed").oembed();
});
</script> -->


