<!DOCTYPE html>
<html>
<head>
  <title>Pintriguing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pintriguing</a>

    </div>
  <% if user_signed_in? %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_boards_url(current_user) %>">Your Profile & Boards</a></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path%></li>
            <li>  <%= link_to "Logout", destroy_user_session_path, method: :delete  %> </li>

          </ul>
        </li>
      </ul>
      </div>
    <ul class="navbar-btn">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      +
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
          <a href="<%= new_pin_url%>">URL Pin</a>
        </li>
        <li><a href="#">Upload Pin</a></li>
      </ul>
    </ul>

      <!-- <form class="navbar-form navbar-left pull-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    <!-- /.navbar-collapse -->
    <% else %>

  <ul class="nav navbar-nav pull-right">
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
  </ul>
    <% end %>
  </div><!-- /.container-fluid -->
</nav>


<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class='container-fluid'>
<%= yield %>
</div>

</body>
</html>
