<!DOCTYPE html>
<html>
<head>
  <title>Pintriguing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class='container-fluid'>
  <% if user_signed_in? %>
    <%= render :partial => 'pins/addPinModal' %>
  <% end %>
<%= yield %>
</div>

</body>
</html>
