<!DOCTYPE html>
<html>
<head>
  <title>Pintriguing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= image_tag('Pintriguing-logo.png') %></a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <% if current_user %>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                  <li><a href="<%= '/#users/' + current_user.id.to_s %>">Your Profile & Boards</a></li>
                  <li> <%= link_to "Logout", destroy_user_session_path, method: :delete  %> </li>

                </ul>
              </li>
            </ul>
            <% end %>
              <div id="header">

              </div>

</div>
</nav>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class='container-fluid'>
  <% if user_signed_in? %>
    <%= render :partial => 'pins/addPinModal' %>
  <% end %>
<%= yield %>
</div>


</body>
</html>
